body {
    font-family: "Times New Roman", Times, serif;
    font-size:24px;
    background-color:rgb(180, 245, 0);
    max-width:90%;
    margin:110px;
}

a {
    text-decoration:none;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(0, 0, 0), 0 0 0.2em green;
    font-size:26px;
}

a:visited {
    text-decoration:none;
    color:green;
}

.Lien {
    color:green;
}

.Lien:hover {
    color:red;
    font-size:30px;
}

.citation {
    padding:30px;
    max-width:50%;
    margin: 50px;
    font-size:160%;
    background-color:rgba(168, 168, 168, 0.986);
    border-left:solid;
    border-left-width; 3px;
    border-left-color:#842e1b;
    
}

