body {
    font-family: "Times New Roman", Times, serif;
    font-size:24px;   
    background: url(fond.jpg) no-repeat bottom right, radial-gradient(rgb(43, 237, 22), rgb(20, 90, 38));
    max-width:90%;
    margin:110px;
    background-size: cover;
}

a {
    text-decoration:none;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(0, 0, 0), 0 0 0.2em green;
    font-size:26px;
}

a:visited {
    text-decoration:none;
    color:green;
}

.Lien {
    color:green;
}

.Lien:hover {
    color:red;
    font-size:30px;
}

#citation {
    font-style:italic;
    padding:30px;
    max-width:50%;
    margin-top: 80px !important;
    margin-bottom:80px !important;
    font-size:160%;
    background-color:rgba(218, 218, 218);
    border-left:solid;
    border-left-width: 3px;
    border-left-color:yellow;
    display:block;
    
}
.citation {
    font-style:italic;
    padding:30px;
    max-width:50%;
    margin-top: 80px;
    margin-bottom:80px;
    font-size:160%;
    background-color:rgb(218, 218, 218);
    border-left:solid;
    border-left-width: 3px;
    border-left-color:#842e1b;
    
}

.citation2 {
    font-style:italic;
    padding:30px;
    max-width:50%;
    margin-top: 80px !important;
    margin-bottom:80px !important;
    font-size:160%;
    background-color:rgba(218, 218, 218, 0.986);
    border-left:solid;
    border-left-width: 3px;
    border-left-color:blue;
    display:block;
    
}


header p {
    background-color: yellow;
    font-weight: bold;
}

.bien {
    text-transform: capitalize;
    color:green;
}

.mal {
    text-transform: capitalize;
    color:red;
}
.liste1 {
    background-image:url(https://raw.githubusercontent.com/becodeorg/CRL-Woods-2.15/master/Parcours/01-Prairie/5.HTML-CSS/progressive-enhancement/bien.png?token=ANEUXDSNZXUQALWAMIG4KAK5RCVIG);
    background-repeat: no-repeat;
    width:550px;
    height:50px;
    padding: right 2;00px;
}
.liste2 {
    background-image:url(https://raw.githubusercontent.com/becodeorg/CRL-Woods-2.15/master/Parcours/01-Prairie/5.HTML-CSS/progressive-enhancement/mal.png?token=ANEUXDW3R4NMEMN2ETULSDS5RC2XE);
    background-repeat: no-repeat;
    width:550px;
    height:50px;
    padding: right 2;00px;
}
.liste3 {
    background-image:url(https://raw.githubusercontent.com/becodeorg/CRL-Woods-2.15/master/Parcours/01-Prairie/5.HTML-CSS/progressive-enhancement/chat.png?token=ANEUXDUFB3SMAAOBI6PMMQS5RC25G);
    background-repeat: no-repeat;
    width:550px;
    height:50px;
    padding: right 2;00px;
}