/* Conteneur de la page*/

body {
    margin:auto;
}

/* Création barre navigation */

.menu-top {

    background-color: #333333;
    display: block;
    margin: 0px;
    bottom: 0;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 0px;
    height: 50px;
}

.nav-top {
    display: flex;
    display: -webkit-flex;
    list-style-type: none;
    bottom: 0;
}

/* Disposition à droite du Log In */

.nav-top li:last-child {
    margin-left: auto;
    text-decoration: none;
    padding-right: 150px;
}

.nav-top a {
    margin: 15px;
    color: white;
    display: block;
    text-decoration: none;
    bottom: 0px;
}

/* Modification en survol et plus */

a:visited {
    color: rgba(30, 147, 204, 1);
}

.nav-top a:hover {
    text-shadow: 1px 1px 2px rgba(30, 147, 204, 1), 0 0 0.3em rgba(30, 147, 204, 1);
    font-size: 105%;
}


/* problème de sélecteur à voir

.nav-top li:hover {
    background-color: rgba(30, 147, 204, 1);
}

.nav-top li:first-child:hover {
    background-color: #333333;
    font-size: 100%;
}

.nav-top li:last-child:hover {
    background-color: #333333;
    font-size: 100%;
}
*/

/*Header/Partie en haut de la page*/

/*Redimensionner l'image "barbu" et positionner*/
.barbu{
    width:210px;
    height:260px;
    padding-right:100px;
    padding-left:75px;
}
/* Positionnement et décoration box tête de la page*/
.top-head {
    padding-top:20px;
    padding-right:20%;
    padding-left:0%;
    padding-bottom:2%;
    background-color:#1e93cc;
    color:white;
    display: flex;
    /* webkit display

    display: -webkit-flex;
    display: -ms-flexbox;
    */
    flex-direction:row;
    /* webkit flex-direction

    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    */
    flex-wrap: nowrap;
    /* webkit flex-wrap

    -webkit- flex-wrap: nowrap;
    -ms- flex-wrap: nowrap;
    */
    justify-content: center;
    /* webkit justify-content

    -webkit- justify-content: center;
    -ms- flex-pack: center;
    */
    align-content: center;
    /* webkit align-content

    -webkit- align-content: center;
    -ms- flex-line-pack: center;
    */
    align-items: center;
    /*webkit align-items 
    
    -webkit- align-items: center;
    -ms- flex-align: center;
    */
}
.top-logo {
    order: 0;
    /* webkit order
    
    -webkit- order: 0;
    -ms- flex-order: 0;
    */
    flex: 0 1 auto;
    /* webkit flex

    -webkit- flex: 0 1 auto;
    -ms- flex: 0 1 auto;
    */
    align-self: center;
    /* webkit align-self

    -webkit- align-self: center;
    -ms- flex-item-align: center;
    */
    padding-right: 300px;
}
    /* pour les webkit voir en haut*/

.top-txt {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.button a {
    font-weight: bold;
    padding: 20px 30px;
    background-color:#e99002;
    color:white;
    border-radius: 10px;
    /* webkit border-radius

    -webkit- border-radius: 11px
    -moz- border-radius: 11px;
    */
    border: 2px solid #fff;
}
.middle-txt {
    padding-left: 7%;
    height: auto;
    background-color: white;
    text-align: center;
    color: black;
    display:block;
}
.first-body {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    padding-left: 10%;
    background-color: #1e93cc;
    color: #fff;
    /* création de colonnes avec webkit*/
    -webkit-column-count:2; /* Opera, Safari, Google Chrome */
    -moz-column-count: 2; /* Firefox */
    column-count: 2; /* Internet Explorer */
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    break-before:column;
    -webkit-column-break-before:column;
}